.transHistory {
    margin: 50px auto;
    width: 600px;
    /* background-color: rgb(219, 225, 227); */
    box-shadow: 1px 1px 15px 3px rgba(1, 0, 0, 0.32);
}

.transHistoryHead {
    background-color: rgb(112, 201, 228);
}

.transHistoryName {
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
    color: white;
    padding: 10px;

}

.transHistoryItem {
    font-size: 16px;
    text-align: center;
    color: lightslategrey;
    padding: 5px;
    background-color: rgb(228, 235, 237);

}


/* .transHistoryItems {} */