.profile {
    margin: 50px auto;
    height: auto;
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 3px rgba(1, 0, 0, 0.32);

}

.description {
    text-align: center;
    padding-bottom: 5px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 40px 0;

}

.name {
    font-size: 30px;
    font-weight: bold;
    margin: 0;

}

.tag {
    font-size: 18px;
    color: gray;
}

.location {
    font-size: 18px;
    color: gray;
}

.stats {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.stats_li {
    text-align: center;

}

.stats_block {
    padding: 10px 30px;
    background-color: rgb(225, 226, 230);
    border-top: 1px solid rgb(197, 195, 195);

}

.label {
    font-size: 20px;
    color: gray;
}

.quantity {

    display: block;
    font-size: 18px;
    font-weight: bold;
}