.friendList {
    width: 250px;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0 auto;

}

.friendListItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: lightgray;
    box-shadow: 2px 2px #888888;
    border-radius: 5px;
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 20px;
}

.statusOnline {
        background-color: green;
}

.statusOffline {
       background-color: red;
}

.avatarItem {
    margin-right: 15px;
    margin-left: 15px;

}

.name {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}