.statistics {
    width: 300px;
    height: auto;
    padding: 0;
    margin: 50px auto;
    background-color: #edf3ee;
    box-shadow: 1px 1px 15px 3px rgba(1, 0, 0, 0.32);
}


.title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    padding-top: 15px;
}

/* .statistics_block {
    background-color: rgb(215, 221, 241);
} */

.statistics_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.item {
    display: flex;
    width: 75px;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    color: #333;
    text-align: center;
    color: #a0a4a0;

}

.percentage {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(71, 63, 63);
    margin-top: 5px;
}